@import "../../../assets/variable.scss";

.post__control {
  // padding: 0 15px 15px;
  .control {
    display: flex;
    .icon {
      padding: 0 8px;
      cursor: pointer;
      svg {
        font-size: 28px;
      }
      &:first-child {
        padding-left: 0 !important;
      }
      &:last-child {
        padding-right: 0 !important;
      }
    }
    .bookmark {
      margin-left: auto;
    }
  }
  .content {
    display: flex;
    padding: 3px 0;
    span {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .like {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }
  .time {
    font-size: 10px;
    color: $color-gray;
  }
}
.writecomment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 0 16px;
  // border-top: 1px solid #bdbdbd;
  .icon {
    cursor: pointer;
    svg {
      font-size: 28px;
    }
  }
  input {
    width: 100%;
    border: none;
    line-height: 52px;
    font-size: 14px;
    padding-left: 20px;
    &:focus {
      outline: none;
    }
  }
  .btn {
    padding: 0 !important;
    font-weight: 600;
    color: $color-primary;
  }
}
