@import "../../assets/variable.scss";
.homepage {
  display: flex;
  position: relative;
  .left {
    max-width: 614px;
    width: 100%;
  }
  .right {
    position: fixed;
    top: 17%;
    left: 61.5%;
    max-width: 293px;
    width: 100%;
    .myaccount {
      margin: 20px 0;
    }
    .recommended {
      .header {
        margin: 20px 0 10px;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        p {
          color: $color-font-1;
          font-size: 14px;
          margin: 0;
        }
        a {
          color: $color-black;
          font-size: 12px;
          text-decoration: none;
        }
      }
      .recommendedlist-typelist {
        .recommended__tyleList .img-box{
          margin-right: 13px !important;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            padding: 10px 0;
          }
        }
      }
    }
  }
}
