.footer {
  &-auth {
    margin-top: 20px;
    .download {
      width: 350px;
      margin: auto;
      padding: 0 40px;
      text-align: center;
      p {
        margin: 20px 0;
        font-size: 15px;
      }
      .img-group {
        display: flex;
        justify-content: space-between;
        img {
          height: 40px;
        }
      }
    }
    .copyright {
      p {
        text-align: center;
        font-size: 13px;
        color: #bdbdbd;
      }
    }
  }
  &-menu {
    margin-top: 40px;
    ul {
      list-style-type: none;
      padding: 0;
      text-align: center;
      li {
        display: inline-table;
        a {
          text-decoration: none;
          color: #bdbdbd;
          padding: 0 5px;
          font-size: 13px;
        }
      }
    }
  }
}
.navbar {
  position: fixed !important;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bdbdbd;
  background-color: #fff;
  .logo {
    img {
      height: 40px;
    }
  }

  &-menu {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-table;
        padding: 0 10px;
        cursor: pointer;
        .icon {
          svg {
            color: #222;
            font-size: 28px;
          }
        }
        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          img {
            width: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.body-layout {
  max-width: 935px;
  margin: 0 auto;
  padding-top: 77px;
}
