@import "../../assets/variable.scss";
.friend-name {
  font-size: 14px;
  color: $color-black;
  font-weight: 700;
  cursor: pointer;
  margin: 0;
  &:hover {
    text-decoration: underline;
  }
}
.card-item {
  border: 1px solid $color-gray;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
  .header {
    display: flex;
    align-items: center;
    padding: 16px;
    .avatar-circle {
      margin-right: 18px;
    }
    .icon {
      margin-left: auto;
      cursor: pointer;
      svg {
        font-size: 23px;
        color: $color-black;
      }
    }
  }
  .images {
    img {
      width: 100%;
    }
  }
  .cont {
    padding: 0 15px 15px;
    .control {
      display: flex;
      .icon {
        font-size: 28px;
        padding: 0 8px;
        cursor: pointer;
        &:first-child {
          padding-left: 0 !important;
        }
        &:last-child {
          padding-right: 0 !important;
        }
      }
      .bookmark {
        margin-left: auto;
      }
    }
    .content {
      display: flex;
      padding: 3px 0;
      span {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .like {
      margin: 0;
      font-size: 14px;
      font-weight: 600;
    }
    .time {
      font-size: 10px;
      color: $color-gray;
    }
  }
  .comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-top: 1px solid #bdbdbd;
    .icon {
      cursor: pointer;
      svg {
        font-size: 28px;
      }
    }
    input {
      width: 100%;
      border: none;
      line-height: 52px;
      font-size: 14px;
      padding-left: 20px;
      &:focus {
        outline: none;
      }
    }
    .btn {
      padding: 0 !important;
      font-weight: 600;
      color: $color-primary;
    }
  }
}

//Option post
.post {
  &-option {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        padding: 14px 0;
        border-bottom: 1px solid #8e8e8e4f;
      }
    }
    &--item {
      p {
        text-align: center;
        font-size: 14px;
        margin: 0;
      }
      .highlight {
        font-weight: 700;
        color: #ed4956;
      }
    }
  }
  &__create {
    height: 100%;
    .space-height {
      height: 91%;
    }
    .empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 170px;
      }
      p {
        font-size: 22px;
      }
      .custom-file-upload {
        display: inline-block;
        .btn-upload {
          background-color: $color-primary;
          color: $color-white;
          font-weight: 600;
          font-size: 14px;
          padding: 3px 10px;
        }
        input[type="file"] {
          display: none;
        }
      }
    }
    .exist {
      .custom {
        display: flex;
        flex-direction: column;
        border-left: 1px solid $color-gray;
        height: 100%;
        .myaccount {
          display: flex;
          padding: 16px;
          .name {
            font-size: 18px;
            font-weight: 600;
            margin: 0 18px;
          }
        }
        textarea {
          border: none;
          padding-left: 16px;
          &:focus {
            outline: none;
            border: none;
            box-shadow: none;
            font-size: 16px;
          }
        }
        .supportText {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 16px;
          span {
            font-size: 12px;
            color: $color-font-1;
          }
        }
        .options {
          border-top: 1px solid $color-gray;
          padding: 16px;

          .title,
          p {
            font-size: 16px;
          }
          span {
            font-size: 12px;
            color: $color-font-1;
          }
          p,
          span {
            margin: 0;
            float: left;
          }
          input {
            float: right;
          }
        }
        .btn-box {
          margin-top: auto;
          padding: 0 16px 10px;
          width: 100%;
          .btn-share {
            width: 100%;
            background-color: $color-primary;
            color: $color-white;
            font-size: 14px;
            font-weight: 600;
            padding: 11px 0;
          }
        }
      }
    }
  }
}
.comment__item {
  display: flex;
  padding: 12px 0;
  .content {
    padding-left: 16px;
    .tooltip-custom {
      float: left;
    }
    .name {
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      margin: 0;
    }
    .comment-text {
      padding-left: 5px;
    }
    .time {
      display: flex;
      color: $color-font-1;
      margin-top: 5px;
      font-size: 12px;
    }
  }
}
