@import "../../assets/variable.scss";
.friend-name {
  font-size: 14px;
  color: $color-black;
  font-weight: 700;
  cursor: pointer;
  margin: 0;
  &:hover {
    text-decoration: underline;
  }
}
.card-item {
  border: 1px solid $color-gray;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
  .header {
    display: flex;
    align-items: center;
    padding: 16px;
    .avatar-circle {
      margin-right: 18px;
    }
    .icon {
      margin-left: auto;
      cursor: pointer;
      svg {
        font-size: 23px;
        color: $color-black;
      }
    }
  }
  .images {
    img {
      width: 100%;
    }
  }
  .cont {
    padding: 0 15px 15px;
    .control {
      display: flex;
      .icon {
        font-size: 28px;
        padding: 0 8px;
        cursor: pointer;
        &:first-child {
          padding-left: 0 !important;
        }
        &:last-child {
          padding-right: 0 !important;
        }
      }
      .bookmark {
        margin-left: auto;
      }
    }
    .content {
      display: flex;
      padding: 3px 0;
      span {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .like {
      margin: 0;
      font-size: 14px;
      font-weight: 600;
    }
    .time {
      font-size: 10px;
      color: $color-gray;
    }
  }
  .comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-top: 1px solid #bdbdbd;
    .icon {
      cursor: pointer;
      svg {
        font-size: 28px;
      }
    }
    input {
      width: 100%;
      border: none;
      line-height: 52px;
      font-size: 14px;
      padding-left: 20px;
      &:focus {
        outline: none;
      }
    }
    .btn {
      padding: 0 !important;
      font-weight: 600;
      color: $color-primary;
    }
  }
}

//Option post
.post {
  &-option {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        padding: 14px 0;
        border-bottom: 1px solid #8e8e8e4f;
      }
    }
    &--item {
      p {
        text-align: center;
        font-size: 14px;
        margin: 0;
      }
      .highlight {
        font-weight: 700;
        color: #ed4956;
      }
    }
  }
  &__create {
    .empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 170px;
      }
      p {
        font-size: 22px;
      }
    }
  }
}
